<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>99</key>
	<string>昌都地区</string>
	<key>98</key>
	<string>林芝地区</string>
	<key>97</key>
	<string>山南地区</string>
	<key>96</key>
	<string>阿勒泰地区</string>
	<key>95</key>
	<string>克拉玛依市</string>
	<key>94</key>
	<string>塔城地区</string>
	<key>93</key>
	<string>昌吉回族自治州</string>
	<key>92</key>
	<string>乌鲁木齐市</string>
	<key>91</key>
	<string>哈密地区</string>
	<key>90</key>
	<string>伊犁哈萨克自治州</string>
	<key>89</key>
	<string>吐鲁番地区</string>
	<key>88</key>
	<string>博尔塔拉蒙古自治州</string>
	<key>87</key>
	<string>新疆直辖县级行政单位</string>
	<key>86</key>
	<string>巴音郭楞蒙古自治州</string>
	<key>85</key>
	<string>阿克苏地区</string>
	<key>84</key>
	<string>克孜勒苏柯尔克孜自治州</string>
	<key>83</key>
	<string>喀什地区</string>
	<key>82</key>
	<string>和田地区</string>
	<key>81</key>
	<string>攀枝花市</string>
	<key>80</key>
	<string>凉山彝族自治州</string>
	<key>79</key>
	<string>乐山市</string>
	<key>78</key>
	<string>自贡市</string>
	<key>77</key>
	<string>眉山市</string>
	<key>76</key>
	<string>雅安市</string>
	<key>75</key>
	<string>成都市</string>
	<key>74</key>
	<string>德阳市</string>
	<key>73</key>
	<string>甘孜藏族自治州</string>
	<key>72</key>
	<string>果洛藏族自治州</string>
	<key>71</key>
	<string>玉树藏族自治州</string>
	<key>70</key>
	<string>黄南藏族自治州</string>
	<key>69</key>
	<string>海东地区</string>
	<key>68</key>
	<string>海南藏族自治州</string>
	<key>67</key>
	<string>海北藏族自治州</string>
	<key>66</key>
	<string>西宁市</string>
	<key>65</key>
	<string>海西蒙古族藏族自治州</string>
	<key>64</key>
	<string>通辽市</string>
	<key>63</key>
	<string>锡林郭勒盟</string>
	<key>62</key>
	<string>兴安盟</string>
	<key>61</key>
	<string>呼伦贝尔市</string>
	<key>60</key>
	<string>铁岭市</string>
	<key>59</key>
	<string>阜新市</string>
	<key>58</key>
	<string>沈阳市</string>
	<key>57</key>
	<string>白山市</string>
	<key>56</key>
	<string>四平市</string>
	<key>55</key>
	<string>吉林市</string>
	<key>54</key>
	<string>延边朝鲜族自治州</string>
	<key>53</key>
	<string>长春市</string>
	<key>52</key>
	<string>松原市</string>
	<key>51</key>
	<string>白城市</string>
	<key>50</key>
	<string>大庆市</string>
	<key>49</key>
	<string>牡丹江市</string>
	<key>48</key>
	<string>哈尔滨市</string>
	<key>47</key>
	<string>七台河市</string>
	<key>46</key>
	<string>鸡西市</string>
	<key>45</key>
	<string>双鸭山市</string>
	<key>44</key>
	<string>绥化市</string>
	<key>43</key>
	<string>鹤岗市</string>
	<key>42</key>
	<string>佳木斯市</string>
	<key>41</key>
	<string>齐齐哈尔市</string>
	<key>40</key>
	<string>伊春市</string>
	<key>39</key>
	<string>黑河市</string>
	<key>38</key>
	<string>大兴安岭地区</string>
	<key>37</key>
	<string>酒泉市</string>
	<key>36</key>
	<string>兰州市</string>
	<key>373</key>
	<string>恩施土家族苗族自治州</string>
	<key>372</key>
	<string>德州市</string>
	<key>371</key>
	<string>随州市</string>
	<key>370</key>
	<string>宿州市</string>
	<key>369</key>
	<string>达州市</string>
	<key>368</key>
	<string>临汾市</string>
	<key>367</key>
	<string>忻州市</string>
	<key>366</key>
	<string>聊城市</string>
	<key>365</key>
	<string>赣州市</string>
	<key>364</key>
	<string>上饶市</string>
	<key>363</key>
	<string>怀化市</string>
	<key>362</key>
	<string>咸宁市</string>
	<key>361</key>
	<string>玉林市</string>
	<key>33</key>
	<string>嘉峪关市</string>
	<key>34</key>
	<string>金昌市</string>
	<key>35</key>
	<string>白银市</string>
	<key>360</key>
	<string>银川市</string>
	<key>359</key>
	<string>平凉市</string>
	<key>358</key>
	<string>马鞍山市</string>
	<key>357</key>
	<string>阳泉市</string>
	<key>356</key>
	<string>长治市</string>
	<key>355</key>
	<string>大同市</string>
	<key>354</key>
	<string>淄博市</string>
	<key>353</key>
	<string>菏泽市</string>
	<key>352</key>
	<string>汉中市</string>
	<key>351</key>
	<string>辽阳市</string>
	<key>350</key>
	<string>萍乡市</string>
	<key>349</key>
	<string>九江市</string>
	<key>348</key>
	<string>常州市</string>
	<key>347</key>
	<string>连云港市</string>
	<key>346</key>
	<string>扬州市</string>
	<key>345</key>
	<string>湖北省直辖县级行政单位</string>
	<key>344</key>
	<string>漯河市</string>
	<key>343</key>
	<string>黔西南布依族苗族自治州</string>
	<key>342</key>
	<string>黔东南苗族侗族自治州</string>
	<key>341</key>
	<string>贵港市</string>
	<key>340</key>
	<string>深圳市</string>
	<key>339</key>
	<string>汕尾市</string>
	<key>338</key>
	<string>肇庆市</string>
	<key>337</key>
	<string>铜陵市</string>
	<key>336</key>
	<string>昭通市</string>
	<key>335</key>
	<string>石嘴山市</string>
	<key>334</key>
	<string>嘉兴市</string>
	<key>333</key>
	<string>金华市</string>
	<key>332</key>
	<string>天津市</string>
	<key>331</key>
	<string>泸州市</string>
	<key>330</key>
	<string>遂宁市</string>
	<key>329</key>
	<string>广元市</string>
	<key>328</key>
	<string>运城市</string>
	<key>327</key>
	<string>吕梁市</string>
	<key>326</key>
	<string> 烟台市</string>
	<key>325</key>
	<string>泰安市</string>
	<key>324</key>
	<string>安康市</string>
	<key>323</key>
	<string>咸阳市</string>
	<key>322</key>
	<string>吴忠市</string>
	<key>321</key>
	<string>呼和浩特市</string>
	<key>2912</key>
	<string>香港特别行政区</string>
	<key>2911</key>
	<string>澳门特别行政区</string>
	<key>320</key>
	<string>鞍山市</string>
	<key>319</key>
	<string>葫芦岛市</string>
	<key>318</key>
	<string>吉安市</string>
	<key>317</key>
	<string>无锡市</string>
	<key>316</key>
	<string>徐州市</string>
	<key>315</key>
	<string>南京市</string>
	<key>314</key>
	<string>永州市</string>
	<key>313</key>
	<string>湘潭市</string>
	<key>312</key>
	<string>张家界市</string>
	<key>311</key>
	<string>黄石市</string>
	<key>310</key>
	<string>孝感市</string>
	<key>309</key>
	<string>南阳市</string>
	<key>308</key>
	<string>周口市</string>
	<key>307</key>
	<string>保定市</string>
	<key>306</key>
	<string>黔南布依族苗族自治州</string>
	<key>305</key>
	<string>柳州市</string>
	<key>304</key>
	<string>梧州市</string>
	<key>303</key>
	<string>汕头市</string>
	<key>302</key>
	<string>江门市</string>
	<key>301</key>
	<string>惠州市</string>
	<key>300</key>
	<string>福州市</string>
	<key>299</key>
	<string>池州市</string>
	<key>298</key>
	<string>六安市</string>
	<key>297</key>
	<string>赤峰市</string>
	<key>296</key>
	<string>海南省直辖县级行政单位</string>
	<key>295</key>
	<string>北海市</string>
	<key>294</key>
	<string>湖州市</string>
	<key>293</key>
	<string>绍兴市</string>
	<key>292</key>
	<string>丽水市</string>
	<key>291</key>
	<string>南充市</string>
	<key>290</key>
	<string>晋城市</string>
	<key>289</key>
	<string>上海市</string>
	<key>288</key>
	<string>济南市</string>
	<key>287</key>
	<string>潍坊市</string>
	<key>286</key>
	<string>济宁市</string>
	<key>285</key>
	<string>商洛市</string>
	<key>284</key>
	<string>延安市</string>
	<key>283</key>
	<string>鄂尔多斯市</string>
	<key>282</key>
	<string>丹东市</string>
	<key>281</key>
	<string>营口市</string>
	<key>279</key>
	<string>鹰潭市</string>
	<key>280</key>
	<string>朝阳市</string>
	<key>278</key>
	<string>宜春市</string>
	<key>277</key>
	<string>宿迁市</string>
	<key>276</key>
	<string>泰州市</string>
	<key>275</key>
	<string>郴州市</string>
	<key>274</key>
	<string>湘西土家族苗族自治州</string>
	<key>273</key>
	<string>邵阳市</string>
	<key>272</key>
	<string>益阳市</string>
	<key>271</key>
	<string>黄冈市</string>
	<key>270</key>
	<string>宜昌市</string>
	<key>269</key>
	<string>驻马店市</string>
	<key>268</key>
	<string>郑州市</string>
	<key>267</key>
	<string>安阳市</string>
	<key>266</key>
	<string>邢台市</string>
	<key>265</key>
	<string>唐山市</string>
	<key>264</key>
	<string>张家口市</string>
	<key>263</key>
	<string>安顺市</string>
	<key>262</key>
	<string>遵义市</string>
	<key>261</key>
	<string>南宁市</string>
	<key>260</key>
	<string>贺州市</string>
	<key>259</key>
	<string>揭阳市</string>
	<key>258</key>
	<string>云浮市</string>
	<key>257</key>
	<string>广州市</string>
	<key>256</key>
	<string>陇南市</string>
	<key>255</key>
	<string>漳州市</string>
	<key>254</key>
	<string>三明市</string>
	<key>253</key>
	<string>淮北市</string>
	<key>252</key>
	<string>黄山市</string>
	<key>251</key>
	<string>巢湖市</string>
	<key>250</key>
	<string>淮南市</string>
	<key>249</key>
	<string>曲靖市</string>
	<key>248</key>
	<string>内江市</string>
	<key>247</key>
	<string>甘南藏族自治州</string>
	<key>246</key>
	<string>固原市</string>
	<key>245</key>
	<string>舟山市</string>
	<key>244</key>
	<string>台州市</string>
	<key>243</key>
	<string>衢州市</string>
	<key>242</key>
	<string>资阳市</string>
	<key>241</key>
	<string>广安市</string>
	<key>240</key>
	<string>绵阳市</string>
	<key>239</key>
	<string>巴中市</string>
	<key>238</key>
	<string>晋中市</string>
	<key>237</key>
	<string>朔州市</string>
	<key>236</key>
	<string>青岛市</string>
	<key>235</key>
	<string>滨州市</string>
	<key>234</key>
	<string>临沂市</string>
	<key>233</key>
	<string>西安市</string>
	<key>232</key>
	<string>铜川市</string>
	<key>231</key>
	<string>榆林市</string>
	<key>230</key>
	<string>阿拉善盟</string>
	<key>229</key>
	<string>包头市</string>
	<key>228</key>
	<string>盘锦市</string>
	<key>227</key>
	<string>本溪市</string>
	<key>226</key>
	<string>抚州市</string>
	<key>225</key>
	<string>景德镇市</string>
	<key>224</key>
	<string>苏州市</string>
	<key>223</key>
	<string>盐城市</string>
	<key>222</key>
	<string>株洲市</string>
	<key>221</key>
	<string>娄底市</string>
	<key>220</key>
	<string>岳阳市</string>
	<key>219</key>
	<string>常德市</string>
	<key>218</key>
	<string>武汉市</string>
	<key>217</key>
	<string>荆门市</string>
	<key>216</key>
	<string>十堰市</string>
	<key>215</key>
	<string>鹤壁市</string>
	<key>214</key>
	<string>信阳市</string>
	<key>213</key>
	<string>平顶山市</string>
	<key>212</key>
	<string>三门峡市</string>
	<key>211</key>
	<string>焦作市</string>
	<key>210</key>
	<string>开封市</string>
	<key>209</key>
	<string>濮阳市</string>
	<key>208</key>
	<string>衡水市</string>
	<key>207</key>
	<string>承德市</string>
	<key>206</key>
	<string>毕节地区</string>
	<key>205</key>
	<string>铜仁地区</string>
	<key>204</key>
	<string>防城港市</string>
	<key>203</key>
	<string>百色市</string>
	<key>202</key>
	<string>来宾市</string>
	<key>201</key>
	<string>潮州市</string>
	<key>200</key>
	<string>河源市</string>
	<key>199</key>
	<string>阳江市</string>
	<key>198</key>
	<string>湛江市</string>
	<key>197</key>
	<string>清远市</string>
	<key>196</key>
	<string>天水市</string>
	<key>195</key>
	<string>莆田市</string>
	<key>194</key>
	<string>厦门市</string>
	<key>193</key>
	<string>龙岩市</string>
	<key>192</key>
	<string>宁德市</string>
	<key>191</key>
	<string>廊坊市</string>
	<key>190</key>
	<string>宣城市</string>
	<key>189</key>
	<string>滁州市</string>
	<key>188</key>
	<string>亳州市</string>
	<key>187</key>
	<string>中山市</string>
	<key>186</key>
	<string>宜宾市</string>
	<key>185</key>
	<string>阿坝藏族羌族自治州</string>
	<key>184</key>
	<string>抚顺市</string>
	<key>183</key>
	<string>辽源市</string>
	<key>182</key>
	<string>临夏回族自治州</string>
	<key>181</key>
	<string>中卫市
中卫市
</string>
	<key>180</key>
	<string>宁波市</string>
	<key>179</key>
	<string>杭州市</string>
	<key>178</key>
	<string>温州市</string>
	<key>177</key>
	<string>文山壮族苗族自治州</string>
	<key>176</key>
	<string>太原市</string>
	<key>175</key>
	<string>威海市</string>
	<key>174</key>
	<string>东营市</string>
	<key>173</key>
	<string>日照市</string>
	<key>172</key>
	<string>枣庄市</string>
	<key>171</key>
	<string>宝鸡市</string>
	<key>170</key>
	<string>渭南市</string>
	<key>169</key>
	<string>巴彦淖尔市</string>
	<key>168</key>
	<string>乌兰察布市</string>
	<key>167</key>
	<string>大连市</string>
	<key>166</key>
	<string>锦州市</string>
	<key>165</key>
	<string>通化市</string>
	<key>164</key>
	<string>新余市</string>
	<key>163</key>
	<string>南昌市</string>
	<key>162</key>
	<string>淮安市</string>
	<key>161</key>
	<string>南通市</string>
	<key>160</key>
	<string>镇江市</string>
	<key>159</key>
	<string>衡阳市</string>
	<key>158</key>
	<string>长沙市</string>
	<key>157</key>
	<string>荆州市</string>
	<key>156</key>
	<string>襄樊市</string>
	<key>155</key>
	<string>许昌市</string>
	<key>154</key>
	<string>商丘市</string>
	<key>153</key>
	<string>洛阳市</string>
	<key>152</key>
	<string>新乡市</string>
	<key>151</key>
	<string>邯郸市</string>
	<key>150</key>
	<string>石家庄市</string>
	<key>149</key>
	<string>沧州市</string>
	<key>148</key>
	<string>秦皇岛市</string>
	<key>147</key>
	<string>六盘水市</string>
	<key>146</key>
	<string>贵阳市</string>
	<key>145</key>
	<string>钦州市</string>
	<key>144</key>
	<string>崇左市</string>
	<key>143</key>
	<string>河池市</string>
	<key>142</key>
	<string>桂林市</string>
	<key>141</key>
	<string>梅州市</string>
	<key>140</key>
	<string>珠海市</string>
	<key>139</key>
	<string>茂名市</string>
	<key>138</key>
	<string>佛山市</string>
	<key>137</key>
	<string>韶关市</string>
	<key>136</key>
	<string>定西市</string>
	<key>135</key>
	<string>庆阳市</string>
	<key>134</key>
	<string>泉州市</string>
	<key>133</key>
	<string>南平市</string>
	<key>132</key>
	<string>重庆市</string>
	<key>1277</key>
	<string>济源市</string>
	<key>126</key>
	<string>蚌埠市</string>
	<key>125</key>
	<string>海口市</string>
	<key>124</key>
	<string>莱芜市</string>
	<key>123</key>
	<string>乌海市</string>
	<key>122</key>
	<string>鄂州市</string>
	<key>121</key>
	<string>三亚市</string>
	<key>120</key>
	<string>东沙群岛</string>
	<key>119</key>
	<string>东莞市</string>
	<key>118</key>
	<string>武威市</string>
	<key>117</key>
	<string>张掖市</string>
	<key>116</key>
	<string>德宏傣族景颇族自治州</string>
	<key>115</key>
	<string>迪庆藏族自治州</string>
	<key>114</key>
	<string> 丽江市</string>
	<key>113</key>
	<string>怒江傈僳族自治州</string>
	<key>112</key>
	<string>保山市</string>
	<key>111</key>
	<string>大理白族自治州</string>
	<key>110</key>
	<string>临沧市</string>
	<key>109</key>
	<string>西双版纳傣族自治州</string>
	<key>108</key>
	<string>普洱市</string>
	<key>107</key>
	<string>红河哈尼族彝族自治州</string>
	<key>106</key>
	<string>玉溪市</string>
	<key>105</key>
	<string>楚雄彝族自治州</string>
	<key>104</key>
	<string>昆明市</string>
	<key>103</key>
	<string>阿里地区</string>
	<key>102</key>
	<string>日喀则地区</string>
	<key>101</key>
	<string>那曲地区</string>
	<key>100</key>
	<string>拉萨市</string>
	<key>131</key>
	<string>北京市</string>
	<key>127</key>
	<string>合肥市</string>
	<key>128</key>
	<string>阜阳市</string>
	<key>129</key>
	<string>芜湖市</string>
	<key>130</key>
	<string>安庆市</string>
</dict>
</plist>
